@import '../../../../../assets/styles/variables';

h1 {
  color: $retroBlue;
}

.register {
  width: 100%;

  color: $retroBlue;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    span {
      padding: 1rem;

      mat-form-field {
        width: 100%;
      }

      &:last-of-type {
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 7;
      }
    }
  }



  button {
    color: $retroBlue;

    &:hover {
      color: $retroGray;
      background-color: $retroBlue;
    }
  }

  h1 {
    display: inline;
  }
}
