@import '../../../../../assets/styles/variables';

.userinfo {

  span,
  h2 {
    color: $retroBlue ;
  }

  span {
    display: flex;
    justify-content: space-between;

    h1 {
      width: fit-content;
    }

    button {
      background: $retroLightblue;
      color: $retroGray;

      &:hover {
        background: $retroBlue;
        color: $retroGray;
      }
    }
  }
}

.sidenav {
  color: $retroBlue;

  .button__action {
    display: block;
    width: 6rem;
    height: 3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    background-color: $retroLightblue;
    color: white;

    &:hover {
      cursor: pointer;
      border: 1px solid $retroGray;
    }
  }
}