@import '../../../../../assets/styles/variables';
h1{
  color: $retroBlue;
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
}
.cassette_actions{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
button{
  padding: 0.3rem;
  background-color: $retroAqua;
  margin-bottom: 1rem;
  .icon{
    font-size: 2rem;
    width:2rem;
    height: 2rem;
  }
}
table{

  td,th{
  color:$retroBlue
  }
}
mat-paginator{
  color:$retroBlue
}
